<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ituition.ituition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="iTuition"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="iTuition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".UpdateActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegistrationActivity" />

        <activity android:name=".UserHomeActivity" />

        <activity android:name=".RequestTuitionActivity" />

        <!--
        <activity android:name=".ProcessSearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        -->
        <activity android:name=".VolleyActivity" />
        <activity android:name=".SearchFilterActivity" />
        <activity android:name=".SearchActivity" />
    </application>

</manifest>