<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ituition.ituition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="iTuition"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="iTuition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Update" />
        <activity android:name=".Profile" />
        <activity android:name=".Registration" />
        <activity android:name=".UserHome" />
        <activity android:name=".RequestTuition" />
        <activity android:name=".SearchFilter" />
        <activity android:name=".Search" />
        <activity android:name=".ShowTuitionRequest" />
        <activity android:name=".TuitionList" />
        <activity android:name=".TutorProfile"></activity>
    </application>

</manifest>